<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/js")

</head>
<body>
    
    <header>
        <nav class="subMenu navbar-custom navbar-scroll-top smint" role="navigation" style="position: absolute;">
            <div class="container">
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <img src="images/nav-icon.png" title="drop-down-menu">
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse navbar-left navbar-main-collapse collapse" style="height: 1px;">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="active">
                            <a id="sTop" class="subNavBtn active">@Html.ActionLink("Home", "Index", "Home")</a><!--статичная страница-->
                        </li>
                        <li class="not-active">
                            <a class="subNavBtn">@Html.ActionLink("Profile", "Index", "User")</a><!--User Index-->
                        </li>
                        <li class="not-active">
                            <a id="s2" class="subNavBtn" href="#">Search</a><!---->
                        </li>
                        <li class="not-active">
                            @Html.ActionLink("Log In", "Login", "Account")<!--Регистрация/Вход, если вошел, то меняется на выход-->
                        </li>
                        <li class="not-active">
                            @Html.ActionLink("About", "About", "Home")<!--статичная страница-->
                        </li>
                        <li class="not-active">
                            @Html.ActionLink("Contact", "Contact", "Home")<!--статичная страница-->
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <a id="s4" class="right-msg subNavBtn msg-icon" href="#"><span> </span></a>
                <div class="clearfix"> </div>
            </div>
            <!-- /.container -->
        </nav>
    </header>

@if (IsSectionDefined("MainContent"))
{
    @RenderSection("MainContent")
}
else
{
    <div class="main-content">

    </div>
}

    <footer>
        <div class="container">
                    <div class="copy">
                        <p>&copy; 2015 Template by Sergey Pogorelov (with help of w3layouts)</p>
                    </div>
                    <div class="social">
                        <ul>
                            <li class="facebook"><a href="#"><span> </span></a></li>
                            <li class="twitter"><a href="#"><span> </span></a></li>
                            <li class="rss"><a href="#"><span> </span></a></li>
                            <li class="google"><a href="#"><span> </span></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>      
    </footer>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>