<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/js")

    <script type="text/javascript">
			$(document).ready( function() {
			    $('.subMenu').smint({
			    	'scrollSpeed' : 1000
			    });
			});
    </script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#gallery').gallerie();
    });
    </script>
</head>

<body>
    <div class="header">
        <nav class="subMenu navbar-custom navbar-scroll-top smint" role="navigation">
            <div class="container">
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse navbar-left navbar-main-collapse collapse" style="height: 1px;">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">
                            @Html.ActionLink("Home", "Index", "Home", new object { }, new { @class = "subNavBtn active", @id = "sTop" })
                        </li>
                        
                            @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Moderator") 
                                || ViewContext.HttpContext.User.IsInRole("User"))
                            {
                                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">
                                    @Html.ActionLink("Profile", "Index", "User", new object { }, new { @class = "subNavBtn", @id = "s1" })
                                </li>
                            }
                                
                        <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">
                            <a id="s2" class="subNavBtn" href="#">Search</a>
                        </li>
                        @if (!(ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Moderator") 
                            || ViewContext.HttpContext.User.IsInRole("User")))
                        {
                            <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">
                                @Html.ActionLink("Sign Up / Log In", "Login", "Account", new object { }, new { @class = "subNavBtn", @id = "s3" })
                            </li>
                        }
                        else
                        {
                            <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">
                                @Html.ActionLink("Sign out", "LogOff", "Account", new object { }, new { @class = "subNavBtn", @id = "s4" })
                            </li>
                        }
                        <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">
                            @Html.ActionLink("About", "About", "Home", new object { }, new { @class = "subNavBtn", @id = "s4" })
                        </li>
                        <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">
                            @Html.ActionLink("Contact", "Contact", "Home", new object { }, new { @class = "subNavBtn", @id = "s5" })
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <a id="s4" class="right-msg subNavBtn msg-icon" href="/"><span> </span></a>
                <div class="clearfix"> </div>
            </div>
            <!-- /.container -->
        </nav>
        
    </div>

@if (IsSectionDefined("MainContent"))
{
    @RenderSection("MainContent")
}
else
{
    <div class="main-content">
    </div>
}

    <div class="footer">
        <div class="container">
            <div class="copy">
                <p>&copy; 2014 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
            </div>
            <div class="social">
                <ul>
                    <li class="facebook"><a href="#"><span> </span></a></li>
                    <li class="twitter"><a href="#"><span> </span></a></li>
                    <li class="rss"><a href="#"><span> </span></a></li>
                    <li class="google"><a href="#"><span> </span></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    
</body>
</html>