@model IEnumerable<Post>
@using Shutter.Models
@{
    ViewBag.Title = "Список заявок";
    int i = 0;
}

<h2>Список заявок</h2>
<p>Всего нераспределенных заявок: @(Model.Count<Post>())</p>
<table>

    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td><b>@i</b></td>
            <td>
                @if (item.Status == (int)PostStatus.Posted)
                {
                    <img src="../../Content/pictures/status1.png" title="Заявка открыта" class="tdImage" />
                }
                else if (item.Status == (int)PostStatus.Approved)
                {
                    <img src="../../Content/pictures/status2.png" title="Заявка распределена" class="tdImage" />
                }
                
            </td>
            
            <td>
                @if (item.File != null)
                {
                    <a href="/Post/Download/@item.Id">
                        <img src="../../Content/pictures/filey.png" title='@item.File' class="tdImage" />
                    </a>
                }
                else
                {
                    <img src="../../Content/pictures/filen.png" title="без файла изображения" class="tdImage" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lifecycle.Posted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                <div>
                    <a class="openDialog" data-dialog-id="infoDialog" data-dialog-title="Описание заявки"
                       href="/Post/Details/@item.Id">
                        <img src="../../Content/pictures/info.png" class="tdImage" title="Описание заявки" />
                    </a>
                </div>
            </td>
            <!--
                @if ((ViewBag.Executors as SelectList).Count() > 0)
            {
                using (Html.BeginForm())
                {
                    <td>
                        @Html.Hidden("PostId", item.Id)
                        @Html.DropDownList("executorId", ViewBag.Executors as SelectList)
                    </td>
                    <td>
                        <input type="submit" value="Назначить" />
                    </td>
                }
            }
            -->
            else
            {
                <td>
                    В БД отсутствуют исполнители
                </td>
            }
        </tr>
    }
</table>
@Styles.Render("~/Content/themes/base/css")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
}