@model IEnumerable<Post>
@using Shutter.Models
@{
    ViewBag.Title = "Список постов";
    int i = 0;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainContent{
<div class="main-content">

    <h2>Список постов</h2>
    <p>Всего непроверенных постов: @(Model.Count<Post>())</p>
    

        @foreach (var item in Model)
        {
            i++;
            
                <b>@i</b>
                
                    if (item.Status == (int)PostStatus.Posted)
                    {
                        <img src="../../Content/pictures/status1.png" title="пост добавлен" class="tdImage" />
                    }
                                    
                    if (item.File != null)
                    {
                        <a href="/Uploads/@item.Id"><img class="post-image" src="/Uploads/@item.Id" /></a>
                    }
                    else
                    {
                        <img src="../../Content/pictures/filen.png" title="без файла изображения" class="tdImage" />
                    }
                
                
                    @Html.DisplayFor(modelItem => item.Lifecycle.Posted)
                    @Html.DisplayFor(modelItem => item.User.Name)                
                    @Html.DisplayFor(modelItem => item.Name)
                
                    <div>
                        <a class="openDialog" data-dialog-id="infoDialog" data-dialog-title="Описание поста"
                           href="/Post/Details/@item.Id">
                            <img src="../../Content/pictures/info.png" class="tdImage" title="Описание поста" />
                        </a>
                    </div>
            
            using (Html.BeginForm())
            {

                @Html.Hidden("postId", item.Id)
                if (item.Status == (int)PostStatus.Posted)
                {
                    @Html.DropDownList("status", new[]
                    {
                        new SelectListItem() {Text = "Отправлен", Value = "1" },
                        new SelectListItem() { Text = "Принят", Value = "2" }})
                    }
                
                <input type="submit" value="Изменить статус" />
            }
    }
    </div>
}