@model Shutter.Models.Post

@{
    ViewBag.Title = "Create post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainContent{
<div class="main-content">
    <div class="contact-form">
        @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>New post</legend>
                <ul style="padding-left: 0;">
                    <li class="register">
                        @Html.LabelFor(model => model.Name)
                        @Html.EditorFor(model => model.Name, "name", new { @onfocus = "this.value = '';", @onblur = "if (this.value == '') {this.value = 'Name';}" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </li>
                    <li class="register">
                        @Html.LabelFor(model => model.Description)
                        @Html.EditorFor(model => model.Description, "name", new { @onfocus = "this.value = '';", @onblur = "if (this.value == '') {this.value = 'Name';}" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </li>
                    <li class="register">
                        @Html.LabelFor(model => model.CategoryId)
                        @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categories as SelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryId)
                    </li>
                    <li class="register">
                        @Html.LabelFor(model => model.File)
                    </li>
                    <li class="register">
                        <input type="file" name="picture" />
                    </li>

                    <li class="register">
                        @Html.LabelFor(model => model.Comment)
                        @Html.EditorFor(model => model.Comment, "name", new { @onfocus = "this.value = '';", @onblur = "if (this.value == '') {this.value = 'Name';}" })
                        @Html.ValidationMessageFor(model => model.Comment)
                    </li>
                </ul>
                <p>
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        }
    </div>
    </div>
}