@model Shutter.Models.User

@{
    ViewBag.Title = "User edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainContent{

<div class="main-content">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Пользователь</legend>

            @Html.HiddenFor(model => model.Id)

        
            @Html.LabelFor(model => model.Name)        
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        
            @Html.LabelFor(model => model.Login)        
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)

        
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)

        
            @Html.LabelFor(model => model.RoleId)        
            @Html.DropDownListFor(model => model.RoleId, ViewBag.Roles as SelectList)
            @Html.ValidationMessageFor(model => model.RoleId)

            <input type="submit" value="Save" />

    </fieldset>
    }
</div>
}
