@model IEnumerable<Shutter.Models.User>

@{
    ViewBag.Title = "Список пользователей";
}

@section MainContent{
<div class="main-content">
    <!-- В зависимости от роли пользователя устанавливаем определенное меню -->
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        <h2 style="color: gray; padding-left: 10px;">Меню администратора: вы вошли как superadmin</h2>
        <div class="menu">
            <ul class="nav navbar-nav">
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Мои посты", "Index", "Post", new object { }, new { @style = "color: #ffb500" })</li>
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Новая", "Create", "Post", new object { }, new { @style = "color: #ffb500" })</li>
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Просмотр", "Index", "User", new object { }, new { @style = "color: #ffb500" })</li>
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Выйти", "LogOff", "Account", new object { }, new { @style = "color: #ffb500" })</li>
            </ul>
        </div>

        <div>
            <h2 style="color: gray; padding-left: 10px;">Список пользователей</h2>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Login)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.RoleId)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @style = "color: #ffb500" })
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @style = "color: #ffb500" })
                    </td>
                </tr>
            }
        </table>
            </div>
    }

    else if (ViewContext.HttpContext.User.IsInRole("Moderator"))
    {
        <h2 style="color: gray; padding-left: 10px;">Меню диспетчера</h2>
        <div class="menu">
            <ul class="nav navbar-nav">
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">
                    <a class="hide">посты</a>
                    <ul class="submenu">
                        <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Мои посты", "Index", "Post", new object { }, new { @style = "color: #ffb500" })</li>
                        <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Распределить", "Approve", "Post", new object { }, new { @style = "color: #ffb500" })</li>
                        <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Новая", "Create", "Post", new object { }, new { @style = "color: #ffb500" })</li>
                    </ul>
                </li>
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Пользователи", "Index", "User", new object { }, new { @style = "color: #ffb500" })</li>
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Выйти", "LogOff", "Account", new object { }, new { @style = "color: #ffb500" })</li>
            </ul>
        </div>
    }

    else if (ViewContext.HttpContext.User.IsInRole("User"))
    {
        <h2 style="color: gray; padding-left: 10px;">Приветствую, @ViewContext.HttpContext.User.Identity.Name</h2>
        <div class="menu">
            <ul class="nav navbar-nav">
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Добавить пост", "Create", "Post", new object { }, new {@style = "color: #ffb500" })</li>
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Мои посты", "Index", "Post", new object { }, new { @style = "color: #ffb500" })</li>
                <li onmouseover="this.className='active'" onmouseout="this.className='page-scroll'">@Html.ActionLink("Выйти", "LogOff", "Account", new object { }, new { @style = "color: #ffb500" })</li>
            </ul>
        </div>

    }
</div>    
}