@model Shutter.Models.LogViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainContent{
<div class="main-content">
    
<div class="contact-form">

    <h3 class="m_3">Registered user? Enter your login and password.</h3>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <fieldset>
            @Html.EditorFor(model => model.UserName, "login", new { @class = "textbox", @onfocus = "this.value = '';", @onblur = "if (this.value == '') {this.value = 'Login';}" })
            @Html.ValidationMessageFor(model => model.UserName)
            
            @Html.EditorFor(model => model.Password, "password", new { @class = "textbox", @onfocus = "this.value = '';", @onblur = "if (this.value == '') {this.value = 'Password';}" })
            @Html.ValidationMessageFor(model => model.Password)
            
            <input type="submit" value="Log In">
            <!--
            @Html.LabelFor(model => model.RememberMe)
            @Html.EditorFor(model => model.RememberMe)
            -->

        </fieldset>
    }
</div>
    
        <div class="signup s3" id="signup">
            <div class="container">
                <h3 class="m_3">Are you Interested ? <br> </h3>
                @Html.ActionLink("Sign up now", "Register", "Account", new object { }, new {@style = "font-size: 20pt; color: #FEB400"});
            </div>
        </div>
</div>
}