@model Shutter.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainContent{

<div class="main-content">
    <div class="contact-form">
        <h2>New user</h2>

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <ul style="padding-left: 0">
                        <li class="register">                                            
                            @Html.EditorFor(model => model.Name, "name", new {@onfocus = "this.value = '';", @onblur = "if (this.value == '') {this.value = 'Name';}" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </li>

                        <li class="register">                            
                            @Html.EditorFor(model => model.Login, "login", new {@onfocus = "this.value = '';", @onblur = "if (this.value == '') {this.value = 'Login';}" })
                            @Html.ValidationMessageFor(model => model.Login)
                        </li>

                        <li class="register">                            
                            @Html.EditorFor(model => model.Password, "password", new {@onfocus = "this.value = '';", @onblur = "if (this.value == '') {this.value = 'Password';}" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </li>

                        <li class="register">
                            @Html.EditorFor(model => model.PasswordConfirmation, "password", new { @onfocus = "this.value = '';", @onblur = "if (this.value == '') {this.value = 'Password';}" })
                            @Html.ValidationMessageFor(model => model.PasswordConfirmation)
                        </li>

                        <li class="register">                            
                            @Html.DropDownListFor(model => model.RoleId, ViewBag.Roles as SelectList)
                            @Html.ValidationMessageFor(model => model.RoleId)
                        </li>

                        <li class="register">
                            <input type="submit" value="Register" />
                        </li>
                    </ul>
                </fieldset>
}
        </div>
    </div>
    
}